# This is Git's per-user configuration file.
[user]
	name = Shaurita Hutchins
	email = shaurita.d.hutchins@gmail.com
# Please adapt and uncomment the following lines:
#	name = Shaurita Hutchins
#	email = shutchins2@umc.edu
